In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

In [9]:
datanew = pd.read_excel("C:/Users/Niku/Documents/ML Project/newdata23april.xlsx")
datanew.head()

,communityname,state,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,racePctHisp,agePct12t21,...,burglaries,burglPerPop,larcenies,larcPerPop,autoTheft,autoTheftPerPop,arsons,arsonsPerPop,ViolentCrimesPerPop,nonViolPerPop
0,BerkeleyHeightstownship,NJ,1,11980,3.10,1.37,91.78,6.50,1.88,12.47,...,14.0,114.85,138.0,1132.08,16.0,131.26,2.000000,16.410000,41.02,1394.590000
1,Marpletownship,PA,1,23123,2.82,0.80,95.57,3.44,0.85,11.01,...,57.0,242.37,376.0,1598.78,26.0,110.55,1.000000,4.250000,127.56,1955.950000
2,Tigardcity,OR,1,29344,2.43,0.74,94.33,3.43,2.35,11.36,...,274.0,758.14,1797.0,4972.19,136.0,376.30,22.000000,60.870000,218.59,6167.510000
3,Gloversvillecity,NY,1,16656,2.40,1.70,97.35,0.50,0.70,12.55,...,225.0,1301.78,716.0,4142.56,47.0,271.93,30.519664,32.112937,306.64,4942.323838
5,Springfieldcity,MO,1,140494,2.45,2.51,95.65,0.90,0.95,18.09,...,2094.0,1386.46,7690.0,5091.64,454.0,300.60,134.000000,88.720000,442.95,6867.420000

In [7]:
indx = datanew.iloc[0].index
Viol = datanew['ViolentCrimesPerPop']
outcolnum = indx.get_loc('ViolentCrimesPerPop')
mx = max(Viol)
mn = min(Viol)
for i in range(datanew.shape[0]):
    print i
    Viol[i] = 1.0*(Viol[i]-mn)/(mx-mn)

0
1
2
3
4

C:\ProgramData\Anaconda2\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

KeyError: 4L